body {
  margin:0;
  padding:0;
  font-family:ui-monospace, Menlo, monospace;
  background:#ffffff;
  color:#222;
}

input {
  font-family:inherit;
}

button {
  font-family:inherit;
  cursor:pointer;
}